{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PROPOS↑ | Crear PROpuesta{% endblock %}

{% block page_content %}
<div>
    <!-- <nav class="navbar navbar-inverse justify-content-center">
         <div class="container-fluid" style="text-align: center; ">
             <ul class="nav navbar-nav" style="text-align: center; ">
                 <li class="active"><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><br /><span>Crear PROPO </span><span class="sr-only">(current)</span></a></li>
                 <li class="disabled"><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br /><span>Detarllar PROPO</span></a></li>
                 <li class="disabled"><a href="#"><span class="glyphicon glyphicon-send" aria-hidden="true"></span><br /><span>Confirmar</span></a></li>

             </ul>
         </div>
     </nav>
        -->
    <div>
        {% if error %}
        <p class=error>
            <strong>Error:</strong> {{ error }}

        </p>     {% endif %}

        <form class="form-inline" style="text-align: left; " action="" method="post" novalidate>
            <div class="container marketing">
                <div class="row featurette">
                    <h1>Crear tu solicitud de PROPuesta</h1>
                    <div class="form-group">
                        <div>
                            {{ form.nombrePropuesta.label }}
                        </div><div>
                            {{ form.nombrePropuesta(class_="form-control") }}
                            {{ form.hidden_tag() }}
                            {% for error in form.nombrePropuesta.errors %}                <br>
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form.rubro.label }}
                        </div><div>
                            {{ form.rubro(class_="form-control", style="width: auto") }}
                            {% for error in form.rubro.errors %}                <br>
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form.cantidadDias.label }}
                        </div><div>
                            <div class="input-group">

                                {{ form.cantidadDias(class_="form-control") }}

                                <div class="input-group-addon">	DIAS			</div>
                            </div>

                            {% for error in form.cantidadDias.errors %}                <br>
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                            <small class="form-text text-muted">
                                ¿Cuántos días querés que esté publicada? <i>Máx: 45 días</i>
                            </small>
                        </div>
                    </div>

                    <br />

                </div>
                <hr class="featurette-divider">



                <h3><span class="text-muted">Aportanos más información</span></h3>
                <div class="row featurette ">
                    <div class="form-group">
                        {{ form.precio.label }}

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">AR$</div>
                                {{ form.precio(class_="form-control") }}

                                <div class="input-group-addon">	.00			</div>
                            </div>
                            {% for error in form.precio.errors %}
                            <br>
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br />
                <div class="row featurette ">
                    <div class="form-group">

                        <span>{{ form.descripcion.label }}</span>
                        {{form.descripcion(class_="form-control", cols="50", rows="8")}}
                        <br />
                        <small class="form-text text-muted">
                            Debés completar una breve descripción de lo que buscas, mínimo 150 caracteres.
                        </small>
                        {% for error in form.descripcion.errors %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span class="sr-only">(error)</span>
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}


                    </div>
                </div>
                <hr class="featurette-divider">

                <div class="row featurette " style="text-align:center">
                    <div class="col-md-4">
                        <a class="btn btn-danger" href="/HomeCliente" role="button">Volver a Home</a>

                    </div>
                    <div class="col-md-4">               </div>
                    <div class="col-md-4">
                        <button type=submit class="btn btn-success">
                            Continuar
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                            </svg>
                        </button>
                    </div>

                    <!--{ form.submit(class_="btn btn-success") }}-->

                </div>
            </div>
        </form>
    </div>
    <p></p>
</div>
{% endblock %}
