{% extends "base.html" %}

{% block title %}P↑ | Panel de Control{% endblock %}

{% block page_content %}


<main role="main">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/Presupuest1.jpeg" width="200" height="100" />
                    </p>

                    <div class="caption">
                        <h2 style="text-align:center">Presupuesta!</h2>
                        <p>¿Querés hacer un viaje, comprar un mueble, empezar a construir una habitación adicional, hacer un sistema, hacer arreglos en casa?</p>
                        <p>Busquemos qué necesitamos y analicemos qué nos conviene...</p>
                        <p style="text-align:center"><a href="/CrearPropuesta" class="btn btn-success" role="button">Empecemos!</a> </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"  style="background-color: #E5E5E5">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/contacts.jpg" width="200" height="100" />
                    </p>

                    <div class="caption">
                        <h2 style="text-align:center">ReproContactos!</h2>
                        <p>¿Analizaste y aceptaste una PROPuestas?</p>
                        <p>¿Querés encontrar aquellos que te asesoraron?</p>
                        <p style="text-align:center"><a href="#" class="btn btn-success disabled" role="button">PROContactos</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/oportunity1.jpg" width="100" height="50" />
                    </p>

                    <div class="caption">
                        <h2 style="text-align:center">PROP~Respuestas!!</h2>
                        <p>¿Ya enviaste algunas Propuestas y estás aguardando respuestas?</p>
                        <p>Vamos a ver qué hay de nuevo!</p>
                        <p style="text-align:center"><a href="/VerPropuestas" class="btn btn-primary" role="button" aria-disabled="true"><span class="glyphicon glyphicon-access-point"></span>  Veamos!</a> </p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->



    </div>


</main>

{% endblock %}
