{% extends "base.html" %}

{% block title %}P↑ | Panel de Control{% endblock %}
 {% block page_content %}
<main role="main">
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/Presupuest1.jpeg" width="200" height="100" />
                    </p>

                    <div class="caption">
                        <h2>PROPOné!</h2>
                        <p>Quizás existen pedidos de presupuestos que seguramente ofreces...</p>
                        <p>Entrá y sé el primero en responder sobre los pedidos vigentes</p>
                        <p><a href="/ListaPropuestas" class="btn btn-success" role="button">PROPO YA!</a> </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"  style="background-color: #E5E5E5">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/contacts.jpg" width="200" height="100" />
                    </p>
                    <div class="caption">
                        <h2>ReproContactos!</h2>
                        <p>¿Analizaste y aceptaste una PROPuestas?</p>
                        <p>¿Querés encontrar aquellos que te asesoraron?</p>
                        <p><a href="#" class="btn btn-success disabled" role="button">Proximamente!</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/oportunity1.jpg" width="100" height="50" />
                    </p>
                    <div class="caption">
                        <h2>PROPOrtunidades!!</h2>
                        <p>Con Propos↑ vamos un paso más</p>
                        <p>¿Querés ofrecer al público alguna oferta? ¿Algo que quieras ofrecer?</p>
                        <p>Llegá junto a otros profesionales, PyMes a potenciar tu negocio!</p>
                        <p style="text-align:center"><a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Proximamente!</a> </p>

                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
        </div>

        <div class="col-sm-6 col-md-4">
        </div>
    </div>
</main>
    {% endblock %}
