 {% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Quiénes somos y Qué hacemos{% endblock %}

{% block page_content %}
<main role="main">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/crearempresa.png" width="200" height="100" />
                    </p>     <div class="caption">
                        <h2>Cómo nacimos</h2>
                        <p>No todo se trata del proyecto final, si no tambien, de poner de pie ideas propias. Este camino lo iniciamos como parte de la Práctica Profesional III del IFTS 18, haciendo realidad lo que pensabamos, lo que si, y lo que no creíamos posible.</p>
                        <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
                    </div>
                </div>


            </div><!-- /.col-lg-4 -->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/mision.png" width="300" height="200" />
                    </p>
                    <div class="caption">
                        <h2>Misión</h2>
                        <p>Aprobar el Proyecto Final, construyendo una apliación que abra las puertas a escalar la idea, a una Productividad real.</p>
                        <!--<!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
                    </div>
                </div>


            </div><!-- /.col-lg-4 -->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <p style="text-align:center">
                        <img class="img-thumbnail img-responsive" src="../../static/vision.jpg" width="175" height="125" />
                    </p>        <div class="caption">

                        <h2>Visión</h2>
                        <p>Alcanzar no solo el título Terciario, si no tambien, llegar a la Licenciatura en Sistemas, para brindar lo mejor de uno, pero con matrícula para hacerlo.</p>
                        <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
                    </div>
                </div>

            </div>
        </div>
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">A tu servicio <span class="text-muted">nuestra red de contactos.</span></h2>
                <p class="lead">Cada día se suman más empresas, que están dispuestas a ayudarte.</p>
                <p>Por ello, incorporamos nuestra red de contactos para que, aquello que necesites, puedan darte lo mejor de ellos, y resolver lo que necesites.</p>
            </div>
            <div class="col-md-5">

                <img class="img-thumbnail img-responsive" src="../static/hero-grey.jpg" />
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Llegar al objetivo <span class="text-muted">Cumpliendo las metas.</span></h2>
                <p class="lead">El constante aprendizaje, las buenas prácticas, y aprender de los demás, y de los errores, nos permiten crecer para llegar a lo que tanto anhelamos.</p>
            </div>
            <div class="col-md-5">

                <img class="img-thumbnail img-responsive" src="../static/celebrate.gif" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Hacé realidad tus sueños <span class="text-muted">Estamos para ayudarte.</span></h2>
                <p class="lead">Hay momentos en los que no sabemos a donde dirigirnos, cuál es el próximo paso. <b>PROPOsUP</b> está para ayudarte, en lo que necesites, Propondremos nuestras ideas, que con nuestra red de contactos, vas a poder lograr lo mejor para tu vida</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-thumbnail img-responsive" width="500" height="500" src="../static/sueños.gif" />

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Elegir lo que queremos <span class="text-muted">es lo que importa.</span></h2>
                <p class="lead">Ordenar prioridades, asesorarnos de la manera correcta, todo se puede lograr, y más facil aún, con nosotros a tu lado.</p>
            </div>
            <div class="col-md-5">
                <img class="img-thumbnail img-responsive" src="../static/elegir.gif" width="300" height="300" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>
{% endblock %}